:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --button-bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* outline: 2px solid tomato; */

.page {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}
.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid tomato;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
}
/* Logo */
.logo {
  color: var(--accent-color);
  background-color: var(--primary-bg-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 0.83;
  letter-spacing: 0.03em;
}
.logo .logo-sc {
  color: var(--title-text-color);
}
.logo .logo-footer {
  color: var(--primary-bg-color);
  background-color: var(--hero-bg-color);
}

/* Main nav */

.main-nav {
  display: flex;
  align-items: center;
}
.main-nav .nav-top {
  display: flex;
  align-items: center;
}

/* Site nav */

.site-nav {
  display: flex;
  margin-left: 40px;
  align-items: center;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .page {
  display: block;

  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* Contact */

.contact-top {
  display: flex;
  margin-left: auto;
}

.contact-top .item + .item {
  margin-left: 50px;
}

.contact-nav .contact {
  color: var(--primary-text-color);
  background-color: var(--hero-bg-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contact-nav .contact:hover,
.contact-nav .contact:focus {
  color: var(--primary-bg-color);
}

.contact-top .contact {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}
.contact-top .contact:hover,
.contact-top .contact:focus {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.14px;
}

.hero {
  text-align: center;
  margin-top: 0;
  margin-bottom: 40;
  background-color: var(--hero-bg-color);
}

.hero-title {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 30px;
}

/* Section */

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
/* .section {
  padding-bottom: 94px;
  padding-top: 94px;
} */

.section-team {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* text-align: center; */
  letter-spacing: 0.03em;
}
/* Features */

.feature-list {
display: flex;
flex-wrap: wrap;
}

.feature-list > .item {
  width: 300px;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: tomato;

}

.section-title {
  /* display: inline; */
  margin-bottom: 10px;
  margin-top: 0px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title {
  color: var(--primary-text-color);
  margin-bottom: 0;
  margin-top: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;
}

/* .feature-list p {
  margin-top: 0px; */
/* margin-bottom: 10px;
} */
/* Team */

.position {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 0.8;

  margin-top: 0;
  margin-bottom: 124px;

  /* text-align: center; */
  letter-spacing: 0.03em;
}

/* Logo */

.logo-ft {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 0.83;
  letter-spacing: 0.03em;
}

.logo .logo-sc {
  color: var(--title-text-color);
}
.logo-ft .logo-footer {
  color: var(--primary-bg-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 0.83;
  letter-spacing: 0.03em;
}

.section-aboutus {
  background-color: var(--button-bg-color);
}

footer {
  background-color: var(--hero-bg-color);
}

/* Страница портфолио */

/* Шапка */
.site-nav .linkactive {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* Фильтр */

.menu .button-menu {
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
  border: 1px solid transparent;

  font-family: inherit;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* text-align: center; */
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
}

/* Button */

/* .button {
  padding: 0px 0px;
} */

.button-first {
  cursor: pointer;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-family: inherit;
  border-color: var(--accent-color);
  border: 1px solid transparent;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* text-align: center; */
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
}

.hero .button-top {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  cursor: pointer;

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border-right: 0px;
  border-left: 0px;

  font-family: inherit;
  /* font-style: normal; */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  border: 1px solid transparent;
}

.button-top:hover,
.button-top:focus {
  background-color: #188ce8;
}

.menu .button-menu:hover,
.menu .button-menu:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border-color: transparent;
}

.works .team {
  color: var(--title-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  /* text-align: center; */

  letter-spacing: 0.06em;
}

.works p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  /* text-align: center; */

  letter-spacing: 0.03em;
}

/* Набор услуг */

.test-container {

  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: teal;
}

.flex-element {
  width: calc(100% - 60px) / 3;
  background-color: tomato;
  margin-right: 30px;
  /* margin-bottom: 30px;
/*  */
} 

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.adress-geo {
  color: var(--primary-bg-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
