:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --button-bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* outline: 2px solid tomato; */

.page {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}
.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /* outline: 2px solid tomato; */
  padding-left: 15px;
  padding-right: 15px;
}

.section-aboutus .container {
  padding-bottom: 94px;
  padding-left: 0;
  padding-right: 0;
}

.container-footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  text-align: left;

}

a {
  text-decoration: none;
}

.page-header {
  border-bottom: 1px solid #EEEEEE  ;
}

/* Logo */

.logo {
  color: var(--accent-color);
  background-color: var(--primary-bg-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 0.83;
  letter-spacing: 0.03em;
}
.logo .logo-sc {
  color: var(--title-text-color);
}
.logo .logo-footer {
  color: var(--primary-bg-color);
  background-color: var(--hero-bg-color);
}

/* Main nav */

.main-nav {
  display: flex;
  align-items: center;
  
}
.main-nav .nav-top {
  display: flex;
  align-items: center;
  
}

/* Site nav */

.site-nav {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .page {
  display: block;

  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* Contact */

.contact-top {
  display: flex;
  margin-left: auto;
}

.contact-top .item + .item {
  margin-left: 50px;
}

.contact-nav .contact {
  color: var(--primary-text-color);
  background-color: var(--hero-bg-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  
}



.contact-nav .item + .item {
  margin-top: 9px;
}

.contact-nav .contact:hover,
.contact-nav .contact:focus {
  color: var(--primary-bg-color);
}

.contact-top .contact {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 30px;
}
.contact-top .contact:hover,
.contact-top .contact:focus {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.14px;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-bg-color);
}

.hero-title {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  padding-left: 237px;

  margin-top: 0px;
  margin-bottom: 30px;
}

/* Section */

.section-benefits {
  padding-top: 94px;
  /* padding-bottom: 94px; */
}

.jobs {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-team {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {

    color: var(--title-text-color);
  
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    /* text-align: center; */
  
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 24px;
 
}

.description {

color: var(--title-text-color);
  
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 1.7;
/* text-align: center; */
letter-spacing: 0.06em;
  
margin-top: 0;
margin-bottom: 0;
padding-bottom: 24px;
padding-left: 24px;
}

.project {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 0.8;
  padding-bottom: 20px;
  padding-left: 24px;
  margin-top: 0;
  margin-bottom: 0;
  /* margin-bottom: 30px; */

  /* text-align: center; */
  letter-spacing: 0.03em;
}

/* Features */

.feature-list {
display: flex;
}

.feature-list > .item {
  width: 270px;
 
  /* background-color: tomato;*/
}



.flex-cont .item + .item {
  margin-left: 30px;
}

/* .flex-cont .flex-section + .flex-section {
  margin-left: 30px;
} */


.section-title {
  /* display: inline; */
  margin-bottom: 10px;
  margin-top: 0px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title {
  color: var(--primary-text-color);
  margin-bottom: 0;
  margin-top: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;
}

img {
  display: block;
}

/* Team */

.position {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 0.8;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;
  /* margin-bottom: 30px; */

  /* text-align: center; */
  letter-spacing: 0.03em;
}

/* Logo */

.logo-ft {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 0.83;
  letter-spacing: 0.03em;
}

.logo .logo-sc {
  color: var(--title-text-color);
}
.logo-ft .logo-footer {
  color: var(--primary-bg-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 0.83;
  letter-spacing: 0.03em;
}

.section-aboutus {
  background-color: var(--button-bg-color);
padding-top: 94px;

}

footer {
  background-color: var(--hero-bg-color);
}

/* Страница портфолио */

/* Шапка */
.site-nav .linkactive {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* Фильтр */

.menu .button-menu {
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
  border: 1px solid transparent;

  font-family: inherit;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  margin-left: 8px;

}

.menu-filter {
display: flex;
margin-top: 94px;
margin-bottom: 34px;
justify-content: center;
}


/* Button */

/* .button {
  padding: 0px 0px;
} */

.button-first {
  cursor: pointer;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-family: inherit;
  border-color: var(--accent-color);
  border: 1px solid transparent;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* text-align: center; */
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
}

.hero .button-top {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  cursor: pointer;

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border-right: 0px;
  border-left: 0px;

  font-family: inherit;
  /* font-style: normal; */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  border: 1px solid transparent;
}

.button-top:hover,
.button-top:focus {
  background-color: #188ce8;
}

.menu .button-menu:hover,
.menu .button-menu:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border-color: transparent;
}

.works p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  /* text-align: center; */

  letter-spacing: 0.03em;
}

.works {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 94px;
  /* border: 1px solid var(--primary-text-color) ; */
}


/* Набор услуг */

.border {
  border: 1px solid #EEEEEE  ;
}

.test-container {

  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  
}

.flex-element {
  width: calc(100% - 60px) / 3;
  margin-right: 20px;
  margin-bottom: 20px;

} 

.flex {
  display: flex;
}  

.flex-cont {
  display: flex;

/* padding-bottom: 94px; */
}

/* .flex-section {
  margin-right: 30px;
} */

.flex-team {
  margin-right: 30px;
  background-color: var(--primary-bg-color);
  text-align: center;
}

.flex-section img {
  margin-bottom: 94px;
  
}

.flex-feature {
  width: calc(100% - 60px) / 4;

  /* margin-right: 30px; */
} 

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* .flex-section:nth-child(3n) {
  margin-right: 0;
}

.flex-section:nth-last-child(-n + 1) {
  margin-bottom: 0;
} */

.logotype {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;
}

.adress-geo {
  color: var(--primary-bg-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
